table td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align:center;
    &:hover {
        cursor: pointer;
    }
}

.container {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}